__pycache__/
*.pyc
frontend/node_modules/
frontend/public/build/
backend/__pycache__/
/for_cleaning
backend/.env
/wallets
/tokens
/archive_wallets
/temp_wallets
/tmp
/non_fresh_wallets
raydium/.liq_pool/
raydium/.env
.venv
non_fresh_wallets